<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Static build" stopProcessing="true">
          <match url="^build/(.*)$" ignoreCase="true" />
          <action type="Rewrite" url="public/build/{R:1}" />
        </rule>
        <rule name="Static images" stopProcessing="true">
          <match url="^images/(.*)$" ignoreCase="true" />
          <action type="Rewrite" url="public/images/{R:1}" />
        </rule>
        <rule name="Public storage" stopProcessing="true">
          <match url="^storage/(.*)$" ignoreCase="true" />
          <action type="Rewrite" url="public/storage/{R:1}" />
        </rule>
        <rule name="Favicon and robots" stopProcessing="true">
          <match url="^(favicon\.ico|robots\.txt)$" ignoreCase="true" />
          <action type="Rewrite" url="public/{R:1}" />
        </rule>
        <rule name="Block sensitive" stopProcessing="true">
          <match url="^(vendor|bootstrap|config|database|resources|routes|tests|app|node_modules|\.git)(/|$)" ignoreCase="true" />
          <action type="CustomResponse" statusCode="403" statusReason="Forbidden" statusDescription="Forbidden" />
        </rule>
        <rule name="Laravel" stopProcessing="true">
          <match url="^" ignoreCase="false" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          </conditions>
          <action type="Rewrite" url="index.php" />
        </rule>
      </rules>
    </rewrite>
    <security>
      <requestFiltering>
        <hiddenSegments>
          <add segment="vendor" />
          <add segment="bootstrap" />
          <add segment="config" />
          <add segment="database" />
          <add segment="storage" />
          <add segment="resources" />
          <add segment="routes" />
          <add segment="app" />
          <add segment="node_modules" />
        </hiddenSegments>
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>
